 .boxContent{
    display: flex;
    flex-direction: row;
  }
  .dataStyle{
    text-align: center;
  }
  
  .breadcrump {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(209, 209, 209);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    min-width: 9rem;
    max-width: 25%;
  }
  .descriptionBreadcrump {
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: center;
  }