  svg {
    display: inline-block;
    vertical-align: middle;
  }
/*   
  path {
    fill: rgb(0, 82, 204);
  } */
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .mapBox {
    background-color: rgb(33, 83, 124);
    border: 1px solid red;
    width: 75% !important;
    position: relative;
  }

  .containers-traffic {
    display: flex;
    flex-direction: column;
  }

  
.controls {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 1.25rem 0;
  text-align: center;
  transform: translateX(-50%);
}

  .controls > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 3rem;
    width: 3rem;
    background: #ff0000;
    color: #fff;
    border-radius: 100%;
    border: 0;
  }
  .controls > button:first-child {
    margin-right: 0.25rem;
  }
  