  svg {
    display: inline-block;
    vertical-align: middle;
  }
/*   
  path {
    fill: rgb(0, 82, 204);
  } */
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .map {
    background-color: rgb(33, 83, 124);
    border: 1px solid red;
    width: 70% !important;
  }

  .containers-traffic {
    display: flex;
    flex-direction: column;
  }